@model PlannerLibrary.DbModels.TblStudentModule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblStudentModule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleSelfStudyHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleSelfStudyHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyHoursRemains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyHoursRemains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyReminderDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyReminderDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNumberNavigation.StudentEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentModuleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
