@model IEnumerable<PlannerLibrary.DbModels.TblStudentModule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModuleSelfStudyHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyHoursRemains)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyReminderDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleSelfStudyHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyHoursRemains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyReminderDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.ModuleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumberNavigation.StudentEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentModuleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentModuleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentModuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
