@{
    ViewData["Title"] = "Home Page";
}

@{
    if (ViewBag.StudyReminder != null)
    {
        <div>
            <script>
                alert('@ViewBag.StudyReminder')
            </script>
        </div>
    }
}

<style>
    .card-img-top {
    
        width: 100%;
        height: 15vw;
        object-fit:cover;
    }

</style>

<div class="text-center">
    <h1 class="display-4">Study Zen</h1>
    <br>
    <br>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/semester.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Semester</h5>
                <p class="card-text">Navigate to Semesters View. This will enable the student to view, update or delete their semster details.</p>
                <br />
                <a href="@Url.Action("SemesterDetails","TblStudents")">Create/Update Semester</a>
                <br>
                <a href="@Url.Action("LoginSemesterDetails","TblStudents")">View Semester</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/module.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Modules</h5>
                <p class="card-text">Navigate to Modules View. This will enable the student to add new modules and update or delete their existing ones.</p>
                <br />
                <a href="@Url.Action("AddModule","TblModules")">Add/Update Modules</a>
                <br>
                <a href="@Url.Action("Index","TblModules")">View Modules</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/records.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Track Study-Hours</h5>
                <p class="card-text">Navigate to Tracker View. This will enable the student add new modules , view the hours tracked for all modules and lastly delete existing records.</p>
                <a href="#">Add Study-Hours </a>
                <br>
                <a href="#">View Study-Hours</a>
            </div>
        </div>
    </div>
    <br>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="~/img/reminder.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Study Reminder</h5>
                <p class="card-text">Navigate to Study Remind View. This will enable the student to create or update existing study reminders for a specific module on a specific day.</p>
                <a href="#">View/Update Study Reminder</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/about.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="#">View About</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/img/privacy.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Privacy</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="#">View Privacy</a>
            </div>
        </div>
    </div>
</div>

@{
    Layout = "HomePage";
}